@charset "utf-8";

/* Atos Web 2010: Print Stylesheet */
/*
=================================================================================================
    Versie          :   print.css 1
    Date            :   2010 Oct 21
    Description     :   exceptions for print output
    Author          :   Paul van Buuren (nl1145), paul.vanbuuren@atosorigin.com
=================================================================================================
*/


.noprint, #bg, .share-this-content {
    display: none !important;
    visibility: hidden;
}
#content {
    height: auto;
    overflow-y: auto;
    padding: 25px 0 10px;
	min-height:150px;
}
ul#toplist, ul.toplist {
    display: none !important; 
    visibility: hidden !important;
    left: 0px; 
    top: 25px;
}   
.footer, #copyright-legal {
    bottom: 3px;
    /*position: fixed;*/
    font-family: verdana !important;
}
#breadcrumbcontent {
    bottom: 25px;
    position: fixed;
    font-family: verdana !important;
    font-size: 11px !important;
}
#pagetitle-div ul.banner-navigation li {
   /* margin-top: -10px; */
}
form#sitesearch {
    border: 2px solid #CFCFCF;
}
.firstslide, .currentslide {
   /* margin-left: -40px !important; */
    position: fixed;
}
.table_type_03 {
    border: 2px solid #DFDFDF;
}
div#banner .item .button {
    margin-top: -15px !important;
}

.form-horizontal{
	height:350px;
	width:500px;
	margin: 0 auto;
}

div#progress_bar{
	border:1px solid #0D0D0D;
	height:18px;
}

.progress{
	width:33%;
	background-color:#0F0;
	height:100%;
	float:left;
}

#toDoListTable tr td{
	text-align:center;
}

#toDoListTable tr td:last-child{
	text-align:left;
}

#toDoListTable #Oppakken td:first-child,
#toDoListTable #oppakken td:first-child{
	background-color:#FF6319;
}

#toDoListTable #Opgepakt td:first-child,
#toDoListTable #opgepakt td:first-child{
	background-color:#0066A1;
	color:#AFAFAF;
}

#toDoListTable #Klaar td:first-child,
#toDoListTable #klaar td:first-child{
	background-color:#AEA400;
}

#toDoListTable .finished,
#toDoListTable .finished ol{
	color:#CECECE !important;
}